# No whitespace after the comma or in your part name!
config SHIELD_JANKY_CUSTOM_LEFT
    def_bool $(shields_list_contains,janky_custom_left)

# No whitespace after the comma or in your part name!
config SHIELD_JANKY_CUSTOM_RIGHT
    def_bool $(shields_list_contains,janky_custom_right)
